.events {
  background-color: $color-white;
  padding: $box-padding;
  margin-bottom: 20px;
  margin-top: 40px;
  height: calc(100% - 90px);
  @media screen and (max-width: $screen-md) {
    height: auto;
  }
  h4 {
    font-size: 22px;
    text-transform: none;
    @media screen and (max-width: $screen-xs) {
      font-size: 16px;
    }
  }
  .font-bold {
    font-weight: 400;
  }

}

.event-item {
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  &::before,
  &:after {
    content: " ";
    display: table;
  }
}

.event-monat {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-top: -1px;
}

.event-day,
.event-monat {
  color: $color-primary;
  font-size: 24px;
  display: block;
  @media screen and (max-width: $screen-xs) {
    font-size: 14px;
  }
}

.event-info {
  border-left: 1px solid $border-color;
  padding-bottom: 20px;
}

.all-events {
  .font-bold {
    &:after {
      display: none;
    }
  }
}

.top-thema {
  padding-left: $box-padding;
  img {
    margin-bottom: $box-padding;
  }
}

.events.first {
  @media screen and (max-width: $screen-md) {
    margin-bottom: 50px;
  }
}