@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../Fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("../Fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../Fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../Fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../Fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../Fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }
@font-face {
  font-family: 'icomoon';
  src: url("../Fonts/icomoon.eot?xi7wfv");
  src: url("../Fonts/icomoon.eot?xi7wfv#iefix") format("embedded-opentype"), url("../Fonts/icomoon.ttf?xi7wfv") format("truetype"), url("../Fonts/icomoon.woff?xi7wfv") format("woff"), url("../Fonts/icomoon.svg?xi7wfv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }
h1 {
    font-size: 16px;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 13px;
}
h5 {
    font-size: 12px;
    text-transform: none;
}

a {
  color: #337ab7;
  text-decoration: none; }
  a:hover, a:focus {
    color: #23527c;
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
