{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
   xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
   xmlns:v="http://fedext.net/ns/vhs/ViewHelpers">
   <f:layout name="Content" />

   <f:section name="Configuration">
      <flux:form id="tsi_adress" label="Adresse" description="Zeigt eine Adresse an" options="{icon: '/typo3conf/ext/tsi_site/Resources/Public/Backend/img/Adress.png'}">
         <flux:field.input name="caption" label="Überschrift"/>
         <flux:field.input name="company" label="Firma"/>
         <flux:field.input name="streetNr" label="Straße und Hauns-Nr."/>
         <flux:field.input name="zipCity" label="PLZ und Ort"/>
         <flux:field.input name="tel" label="Telefon"/>
         <flux:field.input name="fax" label="Fax"/>
      </flux:form>
   </f:section>
   <f:section name="Preview">
      
   </f:section>

<f:section name="Main">
<div class="container">
    <h3>{caption}</h3>
    <p>{company}</p>
    <p>{streetNr}<br>
        {zipCity}</p>
    <p></p>
    <p><strong>{tel}<br>
         {fax}</strong></p>
</div>
</f:section>
</div>
