{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
   xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
   xmlns:v="http://fedext.net/ns/vhs/ViewHelpers">
   <f:layout name="Content" />

   <f:section name="Configuration">
      <flux:form id="tsi_headerimage" label="Headerimage" description="Zeigt das Headerbild an" options="{icon: '/typo3conf/ext/tsi_site/Resources/Public/Backend/img/Image.png'}">
         <flux:field.inline.fal name="headerImage" maxItems="1" allowedExtensions="jpg,png,svg" label="Header Image"/>
         <flux:field.inline.fal name="headerMobileImage" maxItems="1" allowedExtensions="jpg,png,svg" label="Header Image Mobile"/>
      </flux:form>
   </f:section>
    
    <f:section name="Preview">
        
    </f:section>
   
   <f:section name="Main">
      <f:for each="{v:content.resources.fal(field: 'headerImage')}" as="fileReference">
         <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image1">
            <v:variable.set name="imageSrc1" value="{image1.0.source}" />
         </v:resource.image>
      </f:for>
      <f:for each="{v:content.resources.fal(field: 'headerImage')}" as="fileReference">
         <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image2">
            <v:variable.set name="imageSrc2" value="{image2.0.source}" />
         </v:resource.image>
      </f:for>
      <f:for each="{v:content.resources.fal(field: 'headerImage')}" as="fileReference">
         <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image3">
            <v:variable.set name="imageSrc3" value="{image3.0.source}" />
         </v:resource.image>
      </f:for>
      <div class="main-object-fit content-page">
         <picture>
            <source media="(min-width: 480px)" srcset="{imageSrc1}">
            <source media="(min-width: 768px)" srcset="{imageSrc2}">
            <source media="(min-width: 1024px)" srcset="{imageSrc3}">
            <f:if condition="{headerMobileImage}">
            <f:then>
               <f:for each="{v:content.resources.fal(field: 'headerMobileImage')}" as="fileReference">
                  <f:image src="{fileReference.uid}" alt="{fileReference.alternative}" treatIdAsReference="1" class="img-responsive" width="800" />
               </f:for>
            </f:then>
            <f:else>
            <f:for each="{v:content.resources.fal(field: 'headerImage')}" as="fileReference">
               <f:image src="{fileReference.uid}" alt="{fileReference.alternative}" treatIdAsReference="1" class="img-responsive" width="800" />
            </f:for>
            </f:else>
            </f:if>
         </picture>
      </div>
   </f:section>
</div>