{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
   xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
   xmlns:v="http://fedext.net/ns/vhs/ViewHelpers">
   <f:layout name="Content" />


   <f:section name="Configuration">
      <flux:form id="tsi_imagesection" label="Image Section" description="Zeigt eine Vollbild Section an" options="{icon: '/typo3conf/ext/tsi_site/Resources/Public/Backend/img/ImgSection.png'}">
         <flux:field.inline.fal name="imageSection" maxItems="1" allowedExtensions="jpg,png,svg" label="Image Section"/>
         <flux:field.input name="caption" label="Überschrift"/>
         <flux:field.input name="btnText" label="Button Label"/>
         <flux:field.input name="btnLink" label="Button Link"/>
      </flux:form>
   </f:section>
   <f:section name="Preview">
      <h2>huhu</h2>
   </f:section>

<f:section name="Main">
<f:for each="{v:content.resources.fal(field: 'imageSection')}" as="fileReference">
   <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image1">
      <v:variable.set name="imageSrc1" value="{image1.0.source}" />
   </v:resource.image>
</f:for>
<f:for each="{v:content.resources.fal(field: 'imageSection')}" as="fileReference">
   <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image2">
      <v:variable.set name="imageSrc2" value="{image2.0.source}" />
   </v:resource.image>
</f:for>
<f:for each="{v:content.resources.fal(field: 'imageSection')}" as="fileReference">
   <v:resource.image identifier="{fileReference.uid}" treatIdAsReference="1" as="image3">
      <v:variable.set name="imageSrc3" value="{image3.0.source}" />
   </v:resource.image>
</f:for>
<div class="container-fluid bg-grey wrapped-object-fit">
    <div class="container has-object-fit no-padding">
        <p>{caption}</p>
        <div class="main-object-fit">
           <picture>
             <source media="(min-width: 480px)" srcset="{imageSrc1}">
             <source media="(min-width: 768px)" srcset="{imageSrc2}">
             <source media="(min-width: 1024px)" srcset="{imageSrc3}">
             <f:for each="{v:content.resources.fal(field: 'imageSection')}" as="fileReference">
               <f:image src="{fileReference.uid}"  alt="{fileReference.alternative}" treatIdAsReference="1" class="img-responsive" />
             </f:for>
          </picture>
        </div>
        <a class="btn btn-default btn-invert" href="{btnLink}">{btnText}</a>
    </div>
</div>
</f:section>
</div>
