{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
   xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
   xmlns:v="http://fedext.net/ns/vhs/ViewHelpers">
   <f:layout name="Content" />

   <f:section name="Configuration">
      <flux:form id="tsi_paralax" label="Paralax Section" description="Zeigt den Paralax an" options="{icon: '/typo3conf/ext/tsi_site/Resources/Public/Backend/img/Paralax.png'}">
         <flux:field.inline.fal name="ParalaxSection" maxItems="1" allowedExtensions="jpg,png,svg" label="Paralax Image"/>
         <flux:field.input name="h2Caption" label="H2 Überschrift"/>
         <flux:field.input name="description1" label="Beschreibung 1"/>
         <flux:field.input name="description2" label="Beschreibung 2"/>
      </flux:form>
   </f:section>
<f:section name="Preview">
      <h2>huhu</h2>
   </f:section>

    <f:section name="Main">
    <f:for each="{v:content.resources.fal(field: 'ParalaxSection')}" as="fileReference">
          <v:variable.set name="imageSrc" value="{fileReference.url}" />
    </f:for>
    <section class="parallax" data-type="background" style="background-image: url({imageSrc})">
    <div class="container">
       <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="font-size-28">{h2Caption -> f:format.html()}</h2>
                    </div>
                    <div class="col-md-6">
                        <p>{description1 -> f:format.html()}</p>
                    </div>
                    <div class="col-md-6">
                        <p>{description2 -> f:format.html()}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   </f:section>
</div>
