{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
   xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
   xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
   xmlns:v="http://fedext.net/ns/vhs/ViewHelpers">
   <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="tsi_teaserklein" label="Slick Slider klein" description="Zeigt den Slick Slider an" options="{icon: '/typo3conf/ext/tsi_site/Resources/Public/Backend/img/SlickSlider.png'}">
            <flux:field.inline.fal name="sliderSmall" maxItems="30" allowedExtensions="jpg,png,svg" label="Slider Bild"/>
        </flux:form>
    </f:section>
    
    <f:section name="Preview">
      <section class="responsive slider row">
		    <div class="slider-item">
		        <h3>Produkte 1</h3>
		        <img src="http://placehold.it/600x400?text=1">
		        <p>Lorem ipsum dolor sit amet</p>
		        <p><a href="#" class="font-bold">Mehr</a></p>
		    </div>
		    <div class="slider-item">
		        <h3>Produkte 2</h3>
		        <img src="http://placehold.it/600x400?text=2">
		        <p>Lorem ipsum dolor sit amet</p>
		        <p><a href="#" class="font-bold">Mehr</a></p>
		    </div>
		    <div class="slider-item">
		        <h3>Produkte 3</h3>
		        <img src="http://placehold.it/600x400?text=3">
		        <p>Lorem ipsum dolor sit amet</p>
		        <p><a href="#" class="font-bold">Mehr</a></p>
		    </div>
		</section>
   </f:section>
   
   <f:section name="Main">
      <div class="container has-teaser-headline">
         <section class="responsive slider row">
            <f:for each="{v:content.resources.fal(field: 'sliderSmall')}" as="fileReference">
               <div class="slider-item">
                  <f:image src="{fileReference.url}"  alt="{fileReference.alternative}" treatIdAsReference="1" class="img-responsive" />
                  <h3><a href="{fileReference.link}">{fileReference.title}</a></h3>
                  <p>{fileReference.description}</p>
               </div>
            </f:for>
         </section>
      </div>
   </f:section>

</div>
